<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="wrapper outer-wrapper">

      <aside id="table-of-contents" aria-label="Table of Contents">
      <div class="overlay"></div> 
        <label id="sticky-toggle"><input checked type="checkbox" onclick="document.getElementById('toc').classList.toggle('sticky')">Sticky</label>
          {{ content | toc_only }}             
      </aside>

      <main class="page-content" aria-label="Content">
        <div class="inner-wrapper">
          {{ content }}
        </div>
      </main>

    </div>

    {%- include footer.html -%}

  </body>

</html>
